body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: url('../img/fondo.png') no-repeat center top;
    /* Cambia 'path/to/background/image.jpg' por la ruta de tu imagen de fondo */
    background-size: 100% 150%;

}

h1 {
    color: #1a237e; /* Cambia este color al azul oscuro que desees */
    font-size: 24px;
    margin-top: 40px; /* Ajusta la separación desde la parte superior */
  }

#company-name {
    position: absolute;
    right: 80%;
}
.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin-top: 20px;
    position: absolute;
    bottom: 100px;
    right: 400px;
}

.login-header {
    background-color: #115c8e;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.login-form {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #115c8e;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}