body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

form .columns {
    width: calc(25% - 10px);
    margin-right: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
}

section {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}


/* Estilo para las tarjetas de vuelo */
.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card-text {
    color: #555;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#flightCardsContainer {
    margin-top: 30px;
}

.row {
    display: flex;
    justify-content: center;
}

body {
    background-color: #f8f9fa;
}

body {
    margin-bottom: 30px;
}
